<html>
<head>
<title>Guardian Ideas Bank</title>
<script type="text/javascript" src="/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/js.js"></script>
<script type="text/javascript">
document.write('<style type="text/css">.jshide { display: none; }</style>');
</script>
<link type="text/css" rel="stylesheet" href="/css.css">
</head>
<body>
<div id="heading">ideas bank</div>

<ul id="navigation">
<li><a href="/commercial/">Home</a>
<li><a href="/commercial/view">View ideas</a>
<li><a href="/commercial/new">Log a new idea</a>
</ul>

<div id="content">
