</div>

<div id="footer">
&copy; Guardian News and Media Limited 2009.

<p>
<img hspace="10" vspace="10" align="top" src="/i/g_rgb.jpg" alt="The Guardian">
<img hspace="10" vspace="10" align="top" src="/i/ventures.jpg" alt="Ventures">
<img hspace="10" vspace="10" align="top" src="/i/o_rgb.jpg" alt="The Observer">
<img hspace="10" vspace="10" align="top" src="/i/gp_rgb.jpg" alt="Guardian Professional">
<img hspace="10" vspace="10" align="top" src="/i/gmg.jpg" alt="gmg">
<img hspace="10" vspace="10" align="top" src="/i/gjobs_rgb.jpg" alt="Guardian Jobs">
</p>

</div>

</body>
</html>
