# RewriteEngine On

# RewriteCond %{HTTP_HOST}   !secure.mysociety.org
# RewriteRule ^	https://secure.mysociety.org/admin/yhh/ [R]


Options +Includes

## you need to change the below line to 
## wherever your .htpasswd file is
AuthUserFile /data/vhost/www.yourhistoryhere.com/mysociety/yhh/docs/admin/.htpasswd
#
## user names from that file appear in notifications sent to 
## the abuse@ address.
#
## You can probably leave the below.
AuthGroupFile /dev/null
AuthName "Admin"
AuthType Basic
Require valid-user
#
