DirectoryIndex index.shtml

RewriteEngine On

# Make a file down.html in the DocumentRoot to bring down the whole site
# displaying itself.
RewriteCond %{DOCUMENT_ROOT}/down.html -s
RewriteRule /(.+).php /down.html [R]
RewriteCond %{DOCUMENT_ROOT}/down.html !-s
RewriteRule /down.html / [R]

RewriteRule ^//cgi-bin(.*)  /cgi-bin$1 [R]
RewriteRule ^random         /cgi-bin/random.cgi [L]

