DirectoryIndex index.html index.shtml

# all the SSI directives
AddType text/x-server-parsed-html .shtml
AddType text/html .shtml 
Options Includes
AddHandler server-parsed .shtml 

# so CGIs work
Options +ExecCGI
AddHandler cgi-script .cgi

RewriteEngine On

# so mod_rewrite works. But it breaks the SSI. WTF? 
Options +SymLinksIfOwnerMatch

#RewriteRule ^(.*)	http://www.notapathetic.com/$1 [R]
